[submodule "systems/autoCaption"]
	path = systems/autoCaption
	url = https://github.com/Dragon-hearted/autoCaption.git
[submodule "systems/pinboard"]
	path = systems/pinboard
	url = https://github.com/Dragon-hearted/pinboard.git
[submodule "systems/scene-board"]
	path = systems/scene-board
	url = https://github.com/Dragon-hearted/scene-board.git
[submodule "systems/instagram-scrapper"]
	path = systems/instagram-scrapper
	url = https://github.com/Dragon-hearted/instagram-scrapper.git
[submodule "systems/image-engine"]
	path = systems/image-engine
	url = https://github.com/Dragon-hearted/image-engine.git
[submodule "systems/readme-engine"]
	path = systems/readme-engine
	url = https://github.com/Dragon-hearted/readme-engine.git
[submodule "systems/prompt-writer"]
	path = systems/prompt-writer
	url = https://github.com/Dragon-hearted/prompt-writer.git
